body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    cursor: pointer;
    list-style-type: none;
    border-top: 1px solid #fff;
}

.nav {
    width: 500px;
    color: #fff;
    background-color: #af2646;
}

.subNav {
    display: none;
    margin-top: 14px;
    margin-left: -20px;
    margin-bottom: -14px;
}

.nav li {
    padding: 14px 0 14px 20px;
}

.subNav li {
    transition: .3s;
    background-color: #5e252c;
}

.hovered {
    margin-left: 10px;
} 

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: none;
}

.display {
    display: block !important;
}

#overlay.shown {
    display: flex;
}

#overlay p {
    width: 700px;
    line-height: 30px;
    background-color: #fff;
    padding: 20px;
}

#overlay > article {
    display: none;
}

article {
    position: relative;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.image img {
    height: 100%;
}
